<h1>Edit Survey</h1>
<h2>I'm in surveys/edit</h2>
<!--Model One form-->
<div>
<form action='/surveys/{{survey._id}}?_method=PUT' method='POST'>
  <div>Title: <input type='text' name='title' value='{{survey.title}}'></div>
  <div>Author: <input type=' text' name='author' value='{{survey.author}}'></div>
  <div><input type='submit' value='Update Survey Title & Author'></div>
</form>
{{#each questions}}

<a href='/surveys/{{../survey.id}}/questions/{{this._id}}/edit'>Edit The Questions</a>
{{/each}}
</div>


<form><input type='button' value='Back' onClick='history.back()'></form>