<h1>Showing One Survey</h1>

<div>Title: {{survey.title}}</div>
<div>Author: {{survey.author}}</div>
<div>
  {{#each questions}}
    <p>Question: {{query}}</p>
    {{#each answers}}
    <p>Is it? - {{value}}</p>
    {{/each}}
 {{/each}}
</div>


<form action='/surveys/{{survey._id}}?_method=DELETE' method='POST'>
  <input type="submit" value='Delete Survey'>
</form>

<!--this link takes user to the questions in this survey-->

<div><a href='/surveys/{{survey._id}}/edit'>Edit Survey</a></div>
<div><a href='/surveys'>Go Back to Surveys</a></div>